html, body, nav, main, h1, h2, h3, p, ul, li, span {
  padding: 0;
  margin: 0;
}

html {
  scroll-padding-top: 48px;
}

body {
  padding-top: 48px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 48px;
  background-color: black;
  color: white;
}

nav #brand-name {
  font-size: 24px;
  font-weight: bold;
  margin: 12px;
  display: inline-block;
}

main {
  padding: 16px;
}

main h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 16px;
}

#question-number {
  margin-bottom: 8px;
}

#options {
  max-width: 500px;
  margin: 32px auto;
  padding-left: 8px;
}

.option {
  display: block;
  margin-bottom: 16px;
}

.option input {
  opacity: 0;
}

.inner-option-container {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.option input:checked + .inner-option-container {
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.5);
}

.option-letter {
  font-weight: bold;
}

#button-container {
  display: flex;
  flex-direction: row-reverse;
}

button {
  color: white;
  background-color: black;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 4px;
  margin-top: 16px;
  margin-left: 16px;
}

button:disabled {
  color: black;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 576px) {
  main {
    padding: 16px 32px;
  }

  #question {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 768px) {
  #quiz-container {
    max-width: 650px;
    margin: 0 auto;
  }
}